<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Quyền INTERNET cần thiết cho phát triển. Cụ thể,
         công cụ Flutter cần quyền này để giao tiếp với ứng dụng đang chạy
         để đặt điểm dừng (breakpoints), cung cấp tính năng hot reload, v.v.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Quyền truy cập media trên Android 13 và các phiên bản mới hơn -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Quyền truy cập bộ nhớ ngoài trên Android 10 và các phiên bản cũ hơn -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
